ul {
    list-style-type: none;
    margin: 0; 
    padding:0;     
}


li{
    float:left;
    text-align: center;
    padding: 15px 8px 0px 10px;
}

.navlinks{
    color: #000;
    opacity: 0.75;
    text-decoration: none;
}

.navlinks:hover{
    text-decoration: underline;
}

#appicon{
    padding: 11px 13px 0px 10px;
}

#usricon{
    padding: 7px 20px 0px 5px;

}

#navbar{
    font-family: arial,sans-serif;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 0px 0px 8px;

}
.leftalign{
/*    width:50%;*/
}

.rightalign{
/*
    width:50%;*/
}


#logo{
    text-align: center;
    opacity: 1;
}

#apps{
    opacity: 0.55;
    height: 24px;
    width: 24px;
    padding: 0px;
}

#profile{
    opacity: 1;
    height: 32px;
    width: 32px;
}
