ul {
    list-style-type: none;
    margin: 0; 
    padding:0;     
}


li{
    float:left;
    text-align: center;
    padding: 15px 10px 0px 15px;
}

.navlinks{
    color: #000;
    opacity: 0.75;
    text-decoration: none;
}

.navlinks:hover{
    text-decoration: underline;
}



#navbar{
    font-family: arial,sans-serif;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.leftalign{
/*    width:50%;*/
}

.rightalign{
/*
    width:50%;*/
}


#logo{
    text-align: center;
    opacity: 1;
}

#apps{
    opacity: 0.55;
    height: 30px;
    width: 30px;
}

#profile{
    opacity: 1;
    height: 32px;
    width: 32px;
}
